body {
    font-family: 'Raleway', sans-serif;   
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5 auto;
}

div {
    max-width: 1000px; 
    margin: auto;
}

.alert {
    padding-left: 3px;
    border-left: 5px solid rgb(221, 128, 128);
    background-color: rgb(226, 220, 220);
}

.awesome {
    padding-left: 3px;
    border-left: 5px solid rgb(221, 128, 128);
    background-color: rgb(226, 220, 220);
}

.caution {
    padding-left: 3px;
    border-left: 5px solid rgb(231, 153, 6);
    background-color: rgb(230, 218, 196);
}

.baseul {
    margin: 5 auto;
    max-width: 400px;
}

.examp {
    border-radius: 15px;
    background-color: lightgray;
    border: 2px solid darkgray;
    padding: 20px;
}

.pad10left {
    padding-left: 10px;
}

table {
    width: 100%;
}

.thkey {
    width: 20%;
}

tr:nth-child(even) {background-color: #f2f2f2;}